.gym-start{
    padding: 0.5rem 1rem;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    p {
        margin: 0.5rem 0;
    }
}

.start-header{
    text-transform: capitalize;
}

.start{
    width: 200px;
    height: 60px;

    &__apperance{
        top: -60%;
        left: -3%;
    }

    &__shadow{
        top:-50%;
        left: 0;
    }
}

.logo {
    margin: 0 auto;
}

.log-in {
    margin-top: 1rem;

    width: 100%;

    display: flex;
    justify-content: center;

    text-align: center;

    margin-top: 0.5rem;

    a{
        margin: 10px;

        &:hover{
            color: #E041A7;
            cursor: pointer;
        }

        &:active{
            color: #E041A7;
        }
    }
}

@media(min-width: 840px){
    .gym-start{
        padding: 5% 20%;
    }
}